<%- include('partials/header') %>
	
	<div class="ui raised very padded text container segment">
		<div class="ui huge header">EDIT <%=blog.title%></div>
		<form action="/blog/<%=blog._id%>?_method=PUT" class="ui form" method="POST">
			<div class="field">
				<label>Title</label>
				<input type="text" name="blog[title]" value="<%=blog.title%>">
			</div>
			<div class="field">
				<label>Image</label>
			<input type="text" name="blog[image]" value="<%=blog.image%>">
			</div>
			<div class="field">
				<label>Blog Content</label>

				<textarea name="blog[body]"> <%=blog.body%></textarea>
				
			</div>
			<input type="submit" class="ui violet big button ">
		</form>
	</div>
<%- include('partials/footer') %>